/*Variables*/
:root {
    --mainHeadingSize: 1em;
    --mainTextColor: #f0f0f0;
    --backgroundColor: #1E1E23;
    --linkColor: #ffffff;
    --hoverOpacity: 0.5;
    --transitionTime: 200ms;
}

/*Global*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: var(--mainTextColor);
    background-color: var(--backgroundColor);
}
main {
    padding: 5em;
}
p {
    text-align: justify;
    text-align-last: center;
}

/*Nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--backgroundColor);
    padding: 10px 25px;
    height: 65px;
}

.title h3 {
    margin: 0;
    text-align: left;
    font-size: 1.5em;
    color: var(--mainTextColor);
}

#menuToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

#menuToggle input {
    display: none;
}

#menuToggle label {
    cursor: pointer;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
}

#menuToggle span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--mainTextColor);
    border-radius: 15px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

#menuToggle input:checked ~ label span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#menuToggle input:checked ~ label span:nth-child(2) {
    opacity: 0; /* Hides middle bar */
}

#menuToggle input:checked ~ label span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#menu {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #444;
    width: 250px;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
    list-style: none;
}

#menu li {
    padding: 10px 0;
}

#menuToggle input:checked ~ ul {
    transform: translateX(0);
}

/*Links*/
a {
    text-decoration: none;
    color: var(--linkColor);
    opacity: 1;
    font-size: 1.2em;
    transition: opacity var(--transitionTime);
}

a:hover {
    opacity: var(--hoverOpacity);
}

/*IMG*/
ul.memories {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    list-style: none;
}

ul.memories li {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background: #36383F;
    border-radius: 8px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

ul.memories li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

ul.memories li a img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/*Media Querries*/
@media (max-width: 768px) {
    main {
        padding: 2em;
    }
    ul.memories li {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    main {
        padding: 0;
    }
    ul.memories li {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
